/*mobile.css*/

#navbar {
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  height: 80px;
}

#home img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#training .items {
  flex-direction: column;
  align-items: center;
}

#training .items .item {
  width: 80%;
  border-radius: 0%;
}
