/* mobile.css */

/* Navbar */
#navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  flex-direction: column;
}

#navbar ul {
  flex-direction: column;
  align-items: center;
}

#navbar ul li a {
  padding: 0.5rem;
}

/* Home Section */
#home img {
  width: 120px;
  height: 120px;
}

/* Training Section */
#training .items .item {
  width: 90%;
  margin-bottom: 1.5rem;
}

/* Contact Section */
.contact-content {
  flex-direction: column;
  align-items: center;
}

.contact-info,
.github-repo {
  margin-right: 0;
  margin-bottom: 1.5rem;
  text-align: center;
}
